* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body {
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--textColor);
  font-family: 'Open Sans', sans-serif;
}

// Main Layout
html,
body,
#root,
#app {
  width: 100%;
  height: 100%;
}

body.not-ready {
  display: none;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.container {
  padding: 0 4vw;
}

#main {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
  position: relative;
}

#content {
  flex-grow: 1;
  flex-shrink: 1;
  background: var(--contentBG);
  overflow: hidden;
  position: relative;

  .content-scroll {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
  }

  .container {
    height: 100%;
    padding: 4vw 4vw;

    @media #{$desktop} {
      height: auto;
      padding: 4rem 4vw;
    }
  }
}

// Typography
h1 {
  margin: 0 0 0.75em;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.3;

  @media #{$desktop} {
    font-size: 3rem;
  }
}

h2 {
  margin: 0 0 0.5em;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.3;

  @media #{$desktop} {
    font-size: 2.4rem;
  }
    
}

h3 {
  margin: 0.5em 0 0.5em;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.3;

  @media #{$desktop} {
    font-size: 2rem;
  }
}

h4 {
  margin: 0 0 0.5em;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3;

  @media #{$desktop} {
    font-size: 1.8rem;
  }
}

h5 {
  margin: 0 0 0.5em;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3;

  @media #{$desktop} {
    font-size: 1.4rem;
  }
}

p {
  margin: 0 0 0.5em;
  font-size: 1.4rem;
  line-height: 1.3;
}

// Inputs
.input-group {

  .icon {
    width: 1em;
    height: 1em;
    top: 50%;
    right: 1rem;
    display: block;
    position: absolute;
    transform: translateY(-50%);

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.text-field {
  width: 100%;
  height: 4rem;
  padding: 0 2rem;
  font-size: 1.6rem;
  line-height: 4rem;
  background: white;
  border: 1px solid var(--sidebarBorder);
  outline: none;
  flex-grow: 1;
  flex-shrink: 1;

  &::placeholder {
    font-style: italic;
  }

  &:disabled {
    background: var(--btnAltColor);
  }
}

.select {
  width: auto;
  height: 4rem;
  padding: 0;
  font-size: 1.6rem;
  line-height: 4rem;
  background: var(--btnAltColor);
  border: 1px solid var(--sidebarBorder);
  border-right: 0;
  outline: none;
  position: relative;

  select {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0 3rem 0 1rem;
    border: 0;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    background: transparent;
    outline: none;
    display: block;
    appearance: none;
    position: relative;
    // z-index: 2;

    &::-ms-expand {
      display: none;
    }
  }

  .icon {
    width: 1em;
    height: 1em;
    top: 50%;
    right: 1rem;
    fill: var(--textColor);
    display: block;
    position: absolute;
    transform: translateY(-50%);
    z-index: 1;

    svg {
      display: block;
    }
  }
}

.form-group {
  margin-bottom: 2rem;

  label {
    font-size: 1.4rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
    display: block;
  }

  small {
    font-size: 1.2rem;
    font-style: italic;
    padding-top: 0.5rem;
    display: block;
  }
}

// Buttons
.btn {
  min-width: 10rem;
  height: 4.4rem;
  padding: 0;
  color: var(--textColor);
  font-size: 1.4rem;
  line-height: 4.4rem;
  border: 1px solid var(--textColor);
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
  position: relative;

  @media #{$desktop} {
    font-size: 1.6rem;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &.btn-primary {
    color: white;
    background: var(--btnColor);

    svg {
      fill: white;
    }

    @media #{$desktop} {
      &:not(:disabled):hover {
        background: var(--btnHoverColor);
      }
    }
  }

  &.btn-secondary {
    color: var(--btnColor);
    background-color: white;

    svg {
      fill: var(--btnColor);
    }

    @media #{$desktop} {
      &:not(:disabled):hover {
        color: white;
        background-color: var(--btnColor);

        svg {
          fill: white;
        }
      }
    }

    .icon {
      width: 1.5em;
      height: 1.5em;
      top: 50%;
      left: 50%;
      position: absolute;
      display: none;
      transform: translate(-50%, -50%);
      z-index: 2;

      svg {
        width: 100%;
        height: 100%;
        fill: #fff;
      }
    }

    &.filled {
      .icon {
        display: block;
      }

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(#000, 0.8);
        display: block;
        position: absolute;
        opacity: 0.5;
        z-index: 1;
      }
    }
  }

  &.btn-small {
    min-width: auto;
    height: 2rem;
    padding: 0 1rem;
    color: var(--btnAltColor);
    background-color: white;
    border: 1px solid var(--btnAltColor);
    font-size: 0.9rem;
    line-height: 2rem;
  
    svg {
      fill: var(--btnAltColor);
    }
  
    @media #{$desktop} {
      &:not(:disabled):hover {
        color: white;
        background-color: var(--textColor);
        border: 1px solid var(--textColor);
      }
    }
  }

  &.btn-text {
    width: auto;
    height: auto;
    min-width: 0px;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.4;
    border: 0;
    background: transparent;
    text-decoration: none;
    color: var(--btnColor);
    opacity: 0.8;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }
}

.btn-help {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
  border: 0;
  border-radius: 50%;
  color: #fff;
  background-color: var(--btnColor);
  display: inline-block;
  position: relative;
  overflow: visible;

  span {
    width: 15rem;
    padding: 1rem;
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.4;
    text-align: left;
    background-color: var(--btnColor);
    bottom: 100%;
    left: 0;
    display: none;
    position: absolute;
    z-index: 10;
    transform: translate(-2rem, 0);

    @media #{$tablet} {
      width: 20rem;
      bottom: 100%;
      left: 100%;
      transform: translate(0, 0);
    }
  }

  &:hover {
    span {
      display: block;
    }
  }
}

.icon {
  font-style: normal;
  width: 1em;
  height: 1em;
  display: inline-block;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}

// LOADER
.loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  background-color: rgba(#fff, 0.8);
  position: absolute;
  z-index: 10;

  .loader-icon {
		height: 5rem;
    width: 5rem;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    
		&::after,
		&::before {
			content: '';
			width: 5rem;
			height: 5rem;
			position: absolute;
			border: solid 0.8rem transparent;
			border-radius: 50%;
      animation: wiggle 1.4s ease infinite;
    }

		&::before {
			border-top-color: var(--loader1Color);
      border-bottom-color: var(--loader1Color);
    }

		&::after {
      border-left-color: var(--loader2Color);
      border-right-color: var(--loader2Color);
      animation-delay: .7s;
    }
  }
}

@keyframes wiggle {
	0% {
    transform: rotate(0deg) scale(1);
  }
	50% {
    transform: rotate(180deg) scale(.5);
  }
	100% {
    transform: rotate(360deg) scale(1);
  }
}

// Notie
.notie-container {
  z-index: 99999;
}