* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}

html,
body {
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 6vw;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}
