// Declare Variables
$tablet: "only screen and (min-width : 768px)";
$desktop: "only screen and (min-width : 1025px)";
$xlarge: "only screen and (min-width : 1441px)";

// Base Theme


@import 'global';

// Components
@import 'components/intake-table';