// Declare Variables
$tablet: "only screen and (min-width : 768px)";
$desktop: "only screen and (min-width : 1025px)";
$xlarge: "only screen and (min-width : 1441px)";

// Base Theme
$color1: #407D8C;
$color2: #195362;
$color3: #FF8001;


@import 'normalize';
@import 'global';

// Containers
@import 'containers/header';

// Views
@import 'views/sign-in';

// Components
@import 'components/intake-table';

// Other
@import '../../node_modules/react-notifications-component/dist/theme.css';