.view-sign-in {
  padding: 6rem 0;
  
  .section-form {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 6rem;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(64, 125, 140, 0.3);

    .btn {
      width: 100%;
      font-size: 1.8rem;
      display: block;
    }
  }
}